*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0;
  padding: 0;
}

.col-12 {
  width: 100%;
  background-image: url("../assets/images/sunny-day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  height: 100vh;
}

.col-3 {
  width: 25%;
  height: 100px;
  padding-top: 400px;
}

.col-3 > img {
  width: 100%;
}

.col-9 {
  width: 75%;
  display: none;
  background-image: url("../assets/images/dawn.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
 
  height: 100vh;
}

.col-6 {
  width: 50%;
  height: 100px;
  padding-top: 450px;
}

.col-6 > img {
  width: 80%;

}
.col-8 {
  width: 66.66%;
  display: none;
  background-image: url("../assets/images/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  padding-top: 450px;
  padding: 0;
  margin: 0;
}

.col-5 {
  width: 41.66%;
  height: 100px;
  padding-top: 400px;
}

.col-5 > img {
  width: 100%;
}



@media only screen and (max-width: 1200px) {
    
    .col-12 { display: block; } 
    
    }

@media only screen and (max-width: 1024px) {
     .col-9 { 
         display: block;
         width: 100%;
    }
    
     .col-12 { display: none; }  
    }

@media only screen and (max-width: 768px){
    
    .col-8 {
        display: block;
        width: 100%;
    }
    .col-9 { display: none; }
    
}



/*@media only screen and (max-width: 1024px) {
    
    .col-9 { display: block; }   
    }*/
    

/*@media only screen and (max-width: 1023px){
    
     .col-12 { 
       display: none;
        background-image: url("../assets/images/sunny-day.jpg");
    }
    
     .col-9 { width: 100%; } 
    
}

@media only screen and (max-width: 767px) {
    
    .col-9 { display: none; } 
    
}*/


    
    
    

    


/*@media (max-width: 769px) {
  .col-12 {
     display: none;    
     background-image: url("../assets/images/sunny-day.jpg");
    }
  }
@media (max-width: 768px){
    .col-9 {
      display: block;
      background-image: url("../assets/images/dawn.png");
      width: 100%;
    }
}
@media (max-width: 481px){
    .col-9 {
      display:none;
      background-image: url("../assets/images/dawn.png");
      width: 100%;
    }
}

@media screen and (max-width: 480px){
    .col-8 {
      display: block;
      background-image: url("../assets/images/night.jpg");
      width: 100%;
    }
}
*/